.random-workout--container{
    align-items: center;
    background: $grey;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    width: 100%;
}
.random-workout--inner-container{
    align-items: center;
    border-top: 2px dashed $orange;
    border-bottom: 2px dashed $orange;
    display: flex;
    height: 210px;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    overflow: hidden;
    width: 75%;
}
.random-workout--item{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    opacity: 0;
    transform: translate(0, 500%);
    transition: transform .35s ease, opacity .25s ease;
    width: 75%;
}

